$white: #fff;

$home-background: #111b21;
$sidebar-background: #202c33;
$sidebar-icons-color: #aebac1;
$main-background: #222e35;

$input-grey-color: #969b9e;
$input-bg-color: #323644;
$form-black-color: #4f4f4f;

$basic-transition: 300ms;
$chat-border: rgba(134,150,160,0.15);

$link-blue: #1d90f5;

$btn-blue-bg: #007bff;
$btn-grey-bg: #6c757d;