$white: #fff;

$home-background: #111b21;
$sidebar-background: #202c33;
$sidebar-icons-color: #aebac1;
$main-background: #222e35;

$input-grey-color: #969b9e;
$input-bg-color: #323644;
$form-black-color: #4f4f4f;

$basic-transition: 300ms;
$chat-border: rgba(134,150,160,0.15);

$link-blue: #1d90f5;

$btn-blue-bg: #007bff;
$btn-grey-bg: #6c757d;

$chat-preview-color: #8696a0;
$chat-hover-color: #2a3942;

$compose-input-background: #2a3942;
$compose-input-border: #2a3942;;

$aside-padding: 8px 14px;

$chat-container-width: 85vh;

$pfp-width-height: 40px;
$pfp-searched-user-width-height: 60px;