@import "../../styles/main";

.navbar {
    height: 49px;
    padding-left: 13px;
    position: relative;

    nav {
        width: 426px;
        height: 35px;
        border-radius: 8px;
        padding: 0 11px;
        background-color: $sidebar-background;

        .input_container { width: 100%; }

        input {
            padding-left: 30px;
            padding-right: 10px;
            width: 100%;
            color: $input-grey-color;
            font-size: 14px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }
    svg { 
        opacity: 1; 
        &.filter { 
            margin-right: 8px;
            &.active {
                background-color: #00a884;
                padding: 1px;
                color: $white;
                border-radius: 9999px;
            }
        }
    }
}