@import "../../styles/main";

main.chat {
    background-color: $main-background;
    border-left: 1px solid $chat-border;
    width: 1120px;
    position: relative;

    header {
        padding: $aside-padding;
        height: 60px;

        .pfp_container {
            width: 90%;
            cursor: pointer;
            h1 {
                color: $white;
                font-size: 16px;
            }
            img { @include pfp }

            .user_infos {
                margin-left: 15px;
                @include vertical-align;
                gap: 3px;
                p { 
                    font-size: 13px;
                    color: $input-grey-color;
                }
            }
        }

        .icons_container {
            gap: 25px;
            margin-right: 10px;

            svg {
                @include opacity-animation;
                transition: opacity $basic-transition;
            }
        }
    }

    .drag_menu {
        position: absolute;
        z-index: 9999;
        width: 100%;
        justify-content: center;
        height: 0;
        background-color: $home-background;
        transition: height $basic-transition ease-in-out;
        opacity: 0;

        &.active {
            opacity: 1;
            height: 94%;
        }

        * { 
            color: $white;
            font-size: 25px;
            font-size: 700;
         }
    }
}