@import "../../styles/main";

aside {
    background-color: $sidebar-background;
    width: clamp(478px, 478px, 478px);

    header {
        padding: $aside-padding;
        height: 60px;

        .img-container {
            flex: 1;
            gap: 10px;
            font-size: 14px;
            * { color: $white; } 

            img { @include pfp }
        }

        button { 
            @include bootstrap-btn;
            @include bootstrap-btn-secondary;
            width: 75px;
            padding: 1px;
        }

        svg, .img-container button { 
            transition: opacity $basic-transition ease;
            @include opacity-animation;
         }

        .links {
            gap: 25px;
            margin-right: 10px;
        }
    }

    article {
        background-color: $home-background;
        color: $white;
        max-width: 494px;
    }
}