@import "../../styles/main";

.chats_container {
  padding: 20px 0;
  height: $chat-container-width;
  overflow: scroll;
  max-height: 100%;
  height: $chats-container-width;

  .chat {
    width: 100%;
    height: 72px;
    padding: 14px;
    cursor: pointer;
    &:hover,
    &.selected {
      background-color: $chat-hover-color;
    }

    &__img_container {
      margin-right: 15px;
      min-width: 50px;
      min-height: 50px;

      img {
        width: 50px;
        height: 50px;
      }
    }
    &__infos {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;

      .chat__time {
        font-size: 12px;
        padding-left: 20px;
        color: $chat-preview-color;
        padding-bottom: 20px;
      }

      .chat__preview {
        width: 100%;
        overflow: hidden;

        p {
          font-size: 15px;
          margin-top: 2px;
          color: $input-grey-color;
          overflow: hidden;
            max-height: 30px;
        }
      }
    }
  }
}
