@import "../../styles/main.scss";

.row {
    width: 100%;
    padding: 15px 69px;
    position: relative;

    .message_usergroup_pfg {
        img {
            width: 28px;
            height: 28px;
            object-fit: cover;
            border-radius: 9999px;
        }
    }

    .message_grouptype .message_svg {
        &.owner {
            right: unset;
            top: 12.4px;
        }

        &.user {
            left: 102.5px;
        }
    }

    &.user {
        width: 100%;

        .message_usergroup_pfg {
            padding-right: 10px;
        }
    }

    &.owner {
        display: flex;
        justify-content: flex-end;

        .message_usergroup_pfg {
            padding-left: 10px;
        }

        .message_container {
            flex-direction: row-reverse;
        }
    }

    .message_svg {
        position: absolute;
        z-index: 100;
        display: block;
        width: 8px;
        height: 13px;

        &.user {
            rotate: 90deg;
            top: 12.5px;
            left: 63.5px;
        }

        &.owner {
            right: 5.5%;
            top: 12.5px;
        }

        svg {  
            pointer-events: none;
            cursor:  unset !important;
            user-select: none;

            &.owner {color: $outgoing-background;}
            &.user { color: $incoming-background; }
        }
    }

    .message {
        border-radius: 7.5px;
        padding: 8px 10px;
        font-size: 14px;
        color: $white;
        word-wrap: anywhere;

        &.fixed { max-width: 95%; }

        &.user {
            background-color: $incoming-background;
            border-top-left-radius: 0;
            width: fit-content;

            .hours {
                height: auto !important;
                padding-left: 6px;
            }
        }

        &.owner { 
            background-color: $outgoing-background;
            border-top-right-radius: 0;
        }

        .text_infos {
            justify-content: space-between;
            h1 {max-width: 95%;}

            .hours {
                font-size: 10px;
                color: $chat-hours-color;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-top: 8px;
                width: 44px;
            }
        }
        .message_content {
            flex-direction: column-reverse;
            &.noText { flex-direction: row-reverse !important; }

            img {
                margin-bottom: 15px;
                max-width: 100%;
                max-height: 300px; /* Imposta l'altezza massima desiderata per le immagini */
                cursor: pointer;

                &.noText { margin-bottom: 0 !important; }
            }
        }
    }
}